@font-face {font-family:"Virtual DJ";src:url("fonts/Vdj.eot?") format("eot"),url("fonts/Vdj.woff") format("woff"),url("fonts/Vdj.ttf") format("truetype"),url("fonts/Vdj.svg#VirtualDJ") format("svg"); font-weight:normal;font-style:normal;}
 
html body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: Virtual DJ, serif, Times;
	max-width: 1024px;
}

h2{
	margin:0;
	color:#262261;
}

/* Mobile Portrait */
@media only screen and (max-device-width : 320px) {

/* Styles */
#banner{
display:block;	
margin: 0 auto;
width:100%;
background-color:#262261;
height:120px;
}

a:visited{
	color: #27A9E1;
}

#banner #siteTitle h1{	
		display: inline-block;		
		float:left;
		margin: 35px 5px 0px 45px;
		font-size: 2em;
		color:#27A9E1;	
}

#banner #siteIcon{	
	display: inline-block;	
	border:none;
	margin-top:40px;
}

.main{
	min-height:100%;
	text-align: center;
	margin-bottom: 100px;
	background-color: #27A9E1;
}

.mainTitle{
	padding: 20px 0;
}

#genderWrap{
	padding-bottom: 20px;
}

#genderWrap input[type=radio]{
	padding-bottom: 20px;
	visibility:hidden;	
}

#genderWrap label[for=gender1]{
	text-decoration: none;      
    width: 30px;
    transition: 0.5s ease;
    white-space: nowrap;
    height: 15px;
	color:#262261;
	}

#genderWrap label[for=gender1]:hover{
	text-decoration: none;
    display: inline-block;
	padding-right: 0px;
	border: 3px solid #262261;
    width: 30px;
	}

#genderWrap label[for=gender2]{	
	text-decoration: none;
    display: inline-block;      
    width: 30px;
    transition: 0.5s ease;
    white-space: nowrap;
    height: 15px;
	color:#EC008B;	
}

#genderWrap label[for=gender2]:hover{
	text-decoration: none;
    display: inline-block;
	padding-right: 0px;
	border: 3px solid #EC008B;
    width: 30px;
	}

#genderWrap label{
	font-size: 1.8em;
	font-weight: 900;	
}

.content form{
	margin: 0 10px;
}

.content form input[type=text]{
	border: 3px solid #262261;
	font-family: Virtual DJ, serif, Times;
	color:#8c8c8c;
	padding: 5px;
	width:90%;
}



.content div#height,  div#curWeight, div#tarWeight, div#tarDate, div#fitness, div#lean, div#mass, div#submit{
	padding-bottom: 10px;
}

.content form input[type=submit]{
	border: 3px solid #262261;
	background-color:white;
	font-family: Virtual DJ, serif, Times;
	color:#262261;
	padding: 5px;
	width:80%;
}



.footer{	
	background-color:#262261;
	position: absolute;
	height: 100px;
	width:100%;
	bottom: 0;	
	left:0;
}

.footer #footerWrapper{	
	width: 267px;
	margin: 0 auto;
}

.footer .footerLink{	
	font-size:0.5em;
	display:inline-block;
	margin: 20px 5px;
}

.footer .footerLink a{	
	text-decoration: none;
}
}

/* Mobile Landscape */
@media only screen and (min-device-width : 321px) {

/* Styles */
#banner{
display:block;	
width:100%;
background-color:#262261;
height:150px;
}

a:visited{
	color: #27A9E1;

}

#banner .banWrapper{	
	margin: 0 auto;
	width: 280px;

}

#banner .banWrapper #siteTitle h1{			
		display: inline-block;		
		float:left;		
		font-size: 2.5em;
		color:#27A9E1;
		margin: 45px 5px 0 0;			
}

#banner .banWrapper #siteIcon{	
	display: inline-block;	
	border:none;
	margin-top:55px;	
}

.main{
	text-align: center;
	height: 100%;	
	margin-bottom: 120px;
	background-color: #27A9E1;
}

.footer{	
	background-color:#262261;
	position: absolute;
	height: 120px;
	width:100%;
	bottom: 0;	
	left:0;
	text-align: center;
}

.footer #footerWrapper{	
	
}

.footer .footerLink{	
	font-size:0.8em;
	display:inline-block;
	margin: 20px 10px;
}

.footer .footerLink a{	
	text-decoration: none;
}

}




/* Tablet Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

}

/* Tablet Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

}

/* Desktop */
